<h1>New User Account</h1>

<form action="/users" method="post">
  <p>
    <label for="first_name_input">First Name</label>
    <input type="text" name="first_name" id="first_name_input">

    <label for="last_name_input">Last Name</label>
    <input type="text" name="last_name" id="last_name_input">
  </p>
  
  <p>
    <label for="email_input">Email</label>
    <input type="text" name="email" id="email_input">

    <label for="password_input">Password</label>
    <input type="text" name="password" id="password_input">
  </p>
  
  <button>Signup</button>
</form>