<h1>My User Account</h1>

<dl>
  <dt>First Name:</dt>
  <dd><%= @user["first_name"] %></dd>
  <dt>Last Name:</dt>
  <dd><%= @user["last_name"] %></dd>
  <dt>Email:</dt>
  <dd><%= @user["email"] %></dd>
</dl>
