<h1>New Contact for <%= @company["name"] %></h1>

<form action="/contacts" method="post">
  <p>
    <label for="first_name_input">First Name</label>
    <input type="text" name="first_name" id="first_name_input">

    <label for="last_name_input">Last Name</label>
    <input type="text" name="last_name" id="last_name_input">
  </p>

  <p>
    <label for="email_input">Email</label>
    <input type="text" name="email" id="email_input">

    <label for="phone_number_input">Phone</label>
    <input type="text" name="phone_number" id="phone_number_input">
  </p>

  <!-- So we can transfer state from the previous action to the next (i.e. which company the user clicked) -->
  <input type="hidden" name="company_id" value="<%= @company["id"] %>" id="company_id_input">

  <button>Submit</button>
  <a href="/companies/<%= @company["id"] %>">Cancel</a>
</form>