<h1>My CRM</h1>
 
 <ul>
   <% for company in @companies %>
    <li>
      <a href="/companies/<%= company["id"] %>"><%= company["name"] %></a>
    </li>
   <% end %>
</ul>

<p><a href="/companies/new">Create a new company</a></p>