<h1>New Company</h1>

<form action="/companies" method="post">
  <p>
    <label for="name_input">Name</label>
    <input type="text" name="name" id="name_input">
  </p>
  
  <p>
    <label for="city_input">City</label>
    <input type="text" name="city" id="city_input">

    <label for="state_input">State</label>
    <input type="text" name="state" id="state_input">
  </p>

  <button>Submit</button>
  <a href="/companies">Cancel</a>
</form>